
/* Left aligning the title. */
.container {
    margin-left : 0;
}

/* Removing Bottom margin for title bar in sketch */
.masthead-sketch {
    margin-bottom: 0;
}

/* Class defining the gui placeholder. */
/* .dg {
    position: fixed;
    right: 1rem;
} */

.page-title {
    padding-left: 1rem;
}

canvas {
    padding-left: 1rem;
    /* position : fixed */
}
