
/* Left aligning the title. */
.container {
    margin-left : 0;
}

/* Removing Bottom margin for title bar in sketch */
.masthead-sketch {
    margin-bottom: 0;
}

/* Class defining the gui placeholder. */
/* .dg {
    position: fixed;
    right: 1rem;
} */

.page-title {
    padding-left: 1rem;
}

canvas {
    padding-left: 0rem;
}

body {
    margin: 0px;
}

.homelink {
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    background-color: rgba(10, 10, 10, 0.4);
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

.homelink:hover {
    text-decoration: underline
}

.stats {
    position: fixed;
    bottom: 0.1em;
    left: 0.5em;
    background-color: rgba(10, 10, 10, 0.4);
    padding: 0.1em;
    color: white;
    font-size: 10pt;
    text-decoration: none;
}
