<!DOCTYPE html>

<head>

    {% include common-head.html %}

    <script src="{{ site.baseurl }}/lib/glslCanvas.min.js"></script>

    <script src="{{ site.baseurl }}/lib/dat.gui.min.js"></script>

    <!--Add scripts-->
    {% for script in page.scripts %}
    <script src="{{ script }}"></script>
    <!---->
    {% endfor %}

    <!--Add shaders-->
    {% if page.fragShader %}
    <script id="frag-shader" src="{{ page.fragShader }}" type="not-javascript"></script>
    <!---->
    {% endif %}


    <script type="text/javascript">
        let sandbox, canvas;
        function createCanvasCustom(opt = {}) {
            canvas = document.createElement("canvas")
            canvas.style.width = '100vw';
            canvas.style.height = '100vh';
            let scale = window.devicePixelRatio;
            document.getElementById('sketch-holder').appendChild(canvas)

            sandbox = new GlslCanvas(canvas);

            sandbox.reset = function () {
                this.uniform('2f', 'vec2', 'u_resolution', this.canvas.width, this.canvas.height);
            }
            sandbox.reset();
            loadShader();

            // setup editor link
            let editorLink = document.getElementById('openInEditor');
            editorLink.onclick = () => {
                let base_url = window.location.href.match(/^(.*\/source\/)/g)[0];
                let url = new URL(base_url + 'experiments/Shaders/ShaderEditor');
                console.log(document.getElementById('frag-shader').src)
                let shader_url = new URL(document.getElementById('frag-shader').src);
                console.log(shader_url.pathname)
                url += '?shaderSource=' + shader_url.pathname;
                window.open(url)
                return true;
            }

            if (window.setup) {
                setup();
            }
        }

        function loadShader() {
            let compile = window.compile || ((a) => a);
            fetch(document.getElementById('frag-shader').src)
                .then(res => res.text())
                .then(text => sandbox.load(compile(text)))
        }
        window.addEventListener('load', createCanvasCustom)
    </script>
</head>

<body>
    {% include common-body.html %}
    <a class="editorLink" id="openInEditor">☰ Edit</a>
</body>