<!DOCTYPE html>

<head>

    {% include common-head.html %}

    <script src="{{ site.baseurl }}/lib/glslCanvas.min.js"></script>

    <!-- <script src="{{ site.baseurl }}/lib/dat.gui.min.js"></script> -->

    <!--Add scripts-->
    {% for script in page.scripts %}
    <script src="{{ script }}"></script>
    <!---->
    {% endfor %}

    <!--Add shaders-->
    {% if page.fragShader %}
    <script id="frag-shader" src="{{ page.fragShader }}" type="not-javascript"></script>
    <!---->
    {% endif %}


    <script type="text/javascript">
        function createCanvasCustom(opt = {}) {
            let cnv = document.createElement("canvas")
            cnv.style.width = '100%';
            cnv.style.height = '100%';
            document.getElementById('sketch-holder').appendChild(cnv)

            let sandbox = new GlslCanvas(cnv);

            fetch(document.getElementById('frag-shader').src)
                .then(res => res.text())
                .then(text => sandbox.load(text))

            return cnv
        }
        window.addEventListener('load', createCanvasCustom)
    </script>
</head>

<body>
    {% include common-body.html %}
</body>