<!DOCTYPE html>

<head>

    {% include common-head.html %}

    <script src="{{ site.baseurl }}/lib/three.min.js"></script>
    <script src="{{ site.baseurl }}/lib/three.utils.js"></script>

    <!-- <script src="{{ site.baseurl }}/lib/dat.gui.min.js"></script> -->


    <!--Add scripts-->
    {% for script in page.scripts %}
    <script src="{{ script }}"></script>
    <!---->
    {% endfor %}

    <script type="text/javascript">
        let camera, scene, renderer;

        function init() {
            camera = new THREE.PerspectiveCamera(70, window.innerWidth / window.innerHeight, 0.01, 10);
            camera.position.z = 1;

            scene = new THREE.Scene();

            renderer = new THREE.WebGLRenderer({ antialias: true });
            renderer.setSize(window.innerWidth, window.innerHeight);

            document.getElementById('sketch-holder').appendChild(renderer.domElement)

            setup();

            const drawReq = () => {
                draw();
                renderer.render(scene, camera);
                requestAnimationFrame(drawReq);
            }

            drawReq();
        }
        window.addEventListener('load', init)
    </script>
</head>

<body>
    {% include common-body.html %}
</body>